{%- set custom_component_descriptions = {
    "readme": "Generates this awesome readme file.", 
    "browser_mod": "Turns your browser into a controllable entity",
    "hacs": "a powerful UI to handle downloads of all your custom needs",
    "bus": "Public Transport information from OVapi",
    "ha_fritzbox_tools": "Connect to my Fritz",
    "grocy": "Connection to my Grocy installation",
    "buienalarm": "Get local weather info",
    "monitor_docker": "Get info from the docker which runs it all",
    "adaptive_lighting": "Changes the settings of my lights throughout the day",
    "neerslag": "Display rain forecast using Buienalarm and/or Buienradar sensor data"
} -%}

# This is my current Home Assistant installation.
[![HA Version](https://img.shields.io/badge/Home%20Assistant-{{states('sensor.current_version')}}-brightgreen)](https://github.com/home-assistant/home-assistant/releases/{{states.sensor.current_version.state}})

Home Assistant runs on a server which runs {{states('sensor.docker_containers_running')}} docker containers. Some are related to my smarthome Home Assistant offcourse, ESPHome, Mosquitto, Deconz.
There are a couple of containers which work with Home Assistant but could be fun or usefull in other situations. For instance Grocy, Barcode Buddy, VSCode and Rhasspy.
Then there are several containers related to my multimedia setup. Automated download and handling of audio, video and subtitles and such. And last the containers for controlling, 
securing and backup of the server and network. Authelia, Duplicati and Unifi among others

## Images
### Wallpanel running on a ASUS 10.1 inch tablet
![Wallpanel](https://raw.githubusercontent.com/Warlock77/Home-Assistant/main/www/images/screenshots/Wallpanel2.png)

Description | value
-- | --
Number of automations | {{states.automation | count}}
Number of entities | {{states | count}}
Number of sensors | {{states.sensor | count}}

{% if custom_components %}
## The integrations that I use
{% for integration in custom_components %}
- [{{integration.name}}]({{integration.documentation}})
{%- if integration.domain in custom_component_descriptions %}
  {{custom_component_descriptions[integration.domain]}}
{%- endif -%}
{% endfor -%}
{% endif %}

***



Generated by the [custom readme integration](https://github.com/custom-components/readme)